

@import 'util';
@import "../../_common/bootstrap-4.5.3/scss/bootstrap";


html {
  scroll-behavior: smooth;
}

body {
  background-color: $gray-100;
  font-family: $font-text, Arial, Helvetica;
  font-size: 14px;
  color: $black;
  position: relative;
  height: 100%;
  overflow-y: scroll;
  transition: background-color .3s ease-in-out;
}

.wrap {
  position: relative;
  overflow: hidden;
}

header {
  background-color: $primary;
  color: $light;
  position: relative;
  padding: .5rem;

  h1 {
    font-size: .75rem;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 0;
  }
}

.nav {
  position: fixed;
  left: 0;
  top:0;
  display: flex;
  height: 100%;
  z-index: 99;

  &-action {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;

    a {
      display: block;
      padding: .5rem 1rem;
      font-size: 1rem;
      color: $light;
      background-color: $primary;
      // transition: all .3s ease-in-out;

      &:hover {
        background-color: $accent;
      }
    }

    li:not(.nav-waypoints li) {
      display: block;

      &:last-child {
        position: fixed;
        bottom:0;

        a {
          transition: none;
        }
      }
    }
  }

  &-waypoints {

    &-container {
      display: flex !important;
      flex: 1 1 auto;
      justify-content: center;
      align-items: center;
      // display: block;
      // height: 90%;
      // position: relative;
    }

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      color: $light;
      background-color: transparent;
      padding: 1rem;
      font-size: .25rem;
      text-shadow: 0px 0px 2px rgba($secondary, 1);
      &:hover, &:active, &:focus, &.active {
        color:$accent;
        background-color: transparent;
      }
    }
  }
}

.hero {
  background-color: $gray-800;
  background-image: url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;

  @media #{$lg-break} {
    height: 550px;
    justify-content: unset;
    flex-direction: row;
  }

  &-title, &-slope {
    width: 100%;
  }

  &-title {
    padding: 1rem;
    display: flex;
    font-family: $font-display;
    
    @media #{$lg-break} {
      padding: 2rem 1rem;
    }

    h2 {
      font-size: 4rem !important;
      color: $light;
      text-shadow: 0px 3px 10px rgba($dark, 0.75);

      @include media-breakpoint-between(lg, xl)  {
         max-width: 450px;
      }

      @media screen and (min-width: 1490px)  {
        // specific fix
        max-width: none;
      }

    }

    @media #{$lg-break} {
      width: 60%;
    }
  }

  &-slope {
    position: relative;
    background-color: $secondary;
  
    @media #{$lg-break} {
      width: 40%;
      align-self: stretch;
    }

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: $secondary;
      transform: skewX(-10deg);
      top: 0;
      left: -5rem;
      position: absolute;
    }
  }

  &-info {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $m-gray;
  }

  &-summary, &-meta, &-mood {
    max-width: 450px;

    // @media #{$lg-break} {
    //   max-width: 450px;
    // }
  }
  
  &-summary {
    //background: #f9f9f9;
    border-left: 10px solid $m-gray;
    margin: 1rem;
    padding: 1rem;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
      color: $m-gray;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    p {
      display: inline;
    }
  }

  &-meta, &-mood {
    margin:1rem;
    padding:0;
    list-style-type: none;
  }
  
  &-meta {
    font-weight: bold;

    .label {
      text-transform: uppercase;
      font-size: .75rem;
      font-weight: 400;
      vertical-align: text-top;
    }
  }

  &-mood {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    position: relative;
    z-index: 100;

    &::before {
      border-top: 1px solid rgba($m-gray, .25);
      display: block;
      position: absolute;
      top: 0;
      padding: .25rem 0;
      content: 'Mood';
      text-transform: uppercase;
      font-size: .75rem;
    }
    
    li {
      margin: 0 1rem;

      &:first-child {
        margin-left: 0;
      }

      a {
        display: block;
        font-size: 1.5rem;
        color: $light;
        transition: all .3s ease-in-out;

        &:hover {
          opacity: .8;
          text-decoration: none;
          color: $l-gray;
        }

        span {
          font-size: 1rem;
          vertical-align: text-bottom;
          padding-left: .5rem;
        }
      }
    }
  }
}

.social-media {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: .5rem;

  li {
    display: block;
    margin: 0 .5rem;
    
    a {
      padding: .5rem;
      color: $primary;
      transition: all .3s ease-in-out;

      &:hover {
        color: $accent;

      }
    }
  }
}


.footer {
  background-color: $primary;
  color: $l-gray;

  &-content {
    display: flex;
    padding: 1rem;

    .credit, .social-media {
      width: 100%;
      margin: 0;
      text-align:center;

      @media #{$md-break} {
        width: 50%;
        text-align: left;
      }
    }

    .credit {
      font-size: .75rem;
      a {

        color: $light;
        text-decoration: underline;

        &:hover {
          color: $m-gray;
          text-decoration: none;
        }

        &.kofi {
          display: block;
          margin: .5rem 0;
  
          @media #{$md-break} {
            display: inline-block;
          }
  
          &:hover {
            opacity: .8;
          }

          img {
            height: 25px;
          }
        }
        
      }
    }

    .social-media {
      align-items: center;
      @media #{$md-break} {
        justify-content: flex-end;
        margin: 0;
      }

      a {
        padding: .5rem;
        color: $light;
        transition: all .3s ease-in-out;
  
        &:hover {
          color: $l-gray;
  
        }
      }
    }
  }
}

.main {
  padding: 2rem 0;
}

.section {
  max-width: 1000px;
  margin: 1rem auto;
  padding: 0 3.5rem;
  font-size: 1rem;
  font-family: $font-text;

  transition: color .3s ease-in-out;

  p {
    margin-bottom: 2rem;
    
    &.dropcap {
      margin-top: 2rem;
      &::first-letter {
        float: left;
        font-size: 3.5rem;
        line-height: 1;
        margin: 0 1rem 0 0;
      }
    }
  }
  
  h2 {
    font-family: $font-display;
    color: $secondary;
    text-align: center;
    // margin-bottom: 4rem;
  }
}

// Fade IN

@keyframes fadeIn {
  0%   {opacity: 50%;}
  100% {opacity: 100%;}
}

.scene {
  width: 100%;
  height: 750px;
  padding: 1rem 3rem;
  position: relative;
  overflow: hidden;

  @media #{$xxs-break} {
    padding-right: 1rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondary;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    filter: blur(5px);
    transform: scale(1.05);
    box-shadow: inset 0px 0px 100px 0px rgba($dark, .5);
    z-index: -1;

    @media #{$md-break} {
      background-attachment: fixed;
      height: 750px;
    }
  }

  animation-name: fadeIn;
  animation-duration: 1s;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;

  transition: opacity .3s ease-in-out;

  &-btn {
    display: block;
    padding: .5rem 1rem;
    margin: .5rem;
    background-color: $secondary;
    color: $light;
    transition: all .5s ease-in-out;
    text-transform: uppercase;
    font-size: .75rem;

    &:hover {
      background-color: $primary;
      color: $light;
      text-decoration: none;
    }
  }

  &.pull-btn {
    justify-content: flex-start;
    
    @media #{$xxs-break} {
      justify-content: flex-end;
    }
  }

   // Set up scenes
  $scenes: (
    'a': 'a',
    'b': 'b',
    'c': 'c',
    'd': 'd',
    'e': 'e',
    'f': 'f',
  );

  @each $scene, $img in $scenes {
    &-#{$scene}::before { background-image: url(../img/scene-#{$img}.jpg);}

    @media #{$xs-break} {
      &-#{$scene}::before { background-image: url(../img/scene-#{$img}-sm.jpg);}
    }
   }
}



//Modals

.modal-body {
  padding: 2rem;
}

// Gallery
.gallery {
  width: 95%;
  max-width: none;
  margin: .5rem auto;

  &-img {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }

  &-btn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    background-color: $primary;
    color: $light;
    display: block;
    padding: .25rem .5rem;
    line-height: 1;
    z-index: $zindex-tooltip;
  }
}

// Buttons

.btn {
  background-color: $secondary;
  border-color: $secondary;

  &:hover{
    background-color: $primary;
    border-color: $primary;
  }
}

// Dark Mode

.dark-mode {
  background-color: $dark;

  .scene {
    opacity: .8;
  }

  .section {
    color: $m-gray;

    h2 {
      color: $primary;
    }
  }

  hr {
    border-top-color: rgba($light, .5);
  }

  .modal-header {
    background-color: $secondary;
    color: $m-gray;
    border-color: $secondary;

    .close {
      color: $m-gray;
    }
  }

  .modal-content {
    background-color: $dark;
    color: $m-gray;

    .social-media {
      a {
        color: $light;
  
        &:hover {
          color: $accent;
        }
      }
    }

    a {
      color: $light;
    }
  }

  
}

// Formatting

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: border-top-color .3s ease-in-out;
}

@import '_texts.scss';